.css-fis6aj.exg6vvm10{
display: none;
}

.css-1vq4p4l.e1fqkh3o4{
    padding-top: 0;
    padding-bottom: 0;
    /* width: 30%; */
}

.block-container.css-k1ih3n.egzxvld4{
padding-top: 0;
padding-bottom: 0;
}
/* css-1dhfpht exg6vvm15 */